<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ptithcm.com.qltb">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.LoginActivity"
            android:label="Đăng Nhập">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.UserActivity"
            android:label="User" />
        <activity
            android:name=".activity.AdminActivity"
            android:label="Adminstrator" />
        <activity
            android:name=".activity.PhieuMuonActivity"
            android:label="Chi Tiết Phiếu Mượn" />
        <activity
            android:name=".activity.QuanLiThietBiActivity"
            android:label="Quản Lí Kho Thiết Bị" />
        <activity
            android:name=".activity.QuanLiMuonActivity"
            android:label="Quản Lí Mượn Thiết Bị" />
        <activity
            android:name=".activity.NhapActivity"
            android:label="Nhập Thiết Bị Mới" />
        <activity
            android:name=".activity.ThanhLyActivity"
            android:label="Thanh Lý Thiết Bị" />
        <activity
            android:name=".activity.QuanLiNVActivity"
            android:label="Quản Lí Nhân Viên" />
        <activity android:name=".activity.QuanLiNguoiMuonActivity" />
        <activity android:name=".activity.ThongKeActivity" />
        <activity android:name=".activity.DanhSachPhieuMuonCTraActivity"
            android:label="Danh Sách Phiếu Mượn Chưa Trả"/>
        <activity android:name=".activity.DanhSachPhieuNhapActivity"
            android:label="Danh Sách Phiếu Nhập"/>
        <activity android:name=".activity.DanhSachPhieuThanhLyActivity"
            android:label="Danh Sách Phiếu Thanh Lý"></activity>
    </application>

</manifest>